#header {
  display:flex;
  background-image: url("images/nav-background.jpg");
}

.nav {
  color: white;
}

#header-img {
  width: 200px;
  border-radius: 50%;
}

#footer-links {
  list-style-type: none;
}

a:link    { color: #000000 }
a:visited { color: #0000FF }
a:hover   { color: #00FF00 }
a:active  { color: #FF0000 }