* {box-sizing: border-box;}

html {
  scroll-behavior: smooth;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

h1 {
  font-size: 50px;
  font-family: Handlee, serif;
}

h2 {
  font-size: 35px;
  text-align: center;
}

#header {
  display: flex;
  color: #FFFFFF;
  background-image: url("images/nav-background.jpg");
}

#profile-img {
  width: 250px;
  border-radius: 10%;
  margin: 25px 50px 25px 50px;
}

/*Styling the name and title*/
#myTitle {
  font-size: 25px;
}

#profile-container {
  width: 500px;
  padding: 10px;
  margin: 50px 50px 25px 100px;
  text-align: center;
}

body {
  background-color:#D2B48C;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

/*Styling the navigation section*/
#nav {
  width: 300px;
  margin: 0px 0px 0px 300px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

#nav ul li {
  margin: 20px 0px 20px 0px;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
}

/*Intro and About CSS*/
.info { 
  background-color:	#DEB887;
  font-size: 30px;
  width: 850px;
  height: auto;
  margin:10px auto 10px auto;
  padding: 0px 50px 0px 50px;
  border: 3px black solid;
}

/*Using a flex table for the links*/
.contact-container {
  display: flex;
  width: 1500px;
  height: 100px;
  flex-flow: column wrap;
  align-items:center;
  align-content: center;
  margin: 25px 25px 25px 100px;
}

.contact-item {
  display: flex;
  width: 325px;
  flex: 1 1 0px;
  margin-bottom: 3px;
  align-items: center;
}
.contact-item a {
  font-size: 24px;
}

/* The sizes for the contact images*/
#linked-in-img {
  width: 59px;
  height: 50px;
  margin-right: 10px;
}

#github-img {
  width: 122px;
  height: 50px;
  margin-right: 10px;
}

#gmail-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/*Styling the contact section*/
#contact-me {
  position:relative;
  font-size: 30px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

#footer-background {
  display: flex;
  color: #FFFFFF;
  background-image: url("images/nav-background.jpg");
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* Link decorations*/
a { text-decoration: none; }
a:link    { color: #FFFFFF } 
a:visited { color: #BDB76B }
a:hover   { color: #00FF00 }
a:active  { color: #FF0000 }