* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Stylizing the header*/
header {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #000;
  padding: 20px 20px 0px 20px;
  margin-bottom: 40px;
}

.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logo-container .item {
  flex: 1;
  padding: 10px 5px;
}

.item {
  flex: 1;
}

#profile-img {
  align-self: center;
  width: 50%;
  border-radius: 30%;
}

img {
  width: 10%;
}

/*Styling the name and title*/
h1,
h2 {
  align-items: center;
  text-align: center;
}

body {
  background-color: #d2b48c;
}

/*Styling the navigation section*/
nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 20px 20px 20px 0;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

header nav ul li:last-child a {
  /* Removes the margin to the right of the last anchor tag 
     so that the nav appears centered. */
  margin-right: 0;
}

/*Intro and About CSS*/
main {
  display: flex;
  flex-direction: column;
}

main .item {
  background-color: #deb887;
  margin: 15px 15px;
  padding: 10px 20px;
  border: 3px black solid;
}

/* Footer styling*/
footer {
  padding-top: 10px;
  background-color: #000;
}

footer p {
  color: #fff;
  text-align: center;
}
address {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}

.container .item {
  margin: 10px 0;
  font-size: 20px;
  padding-left: 20px;
}

.container .item a {
  align-self: center;
}

.container div {
  display: flex;
  flex-direction: row;
}

.container div img {
  max-width: 20%;
}

#contact-form {
  padding-top: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

#contact-form .item {
  align-self: center;
  margin: 5px 0;
}
/* Link decorations*/
a {
  text-decoration: none;
}
a:link {
  color: #e4a3a3;
}
a:visited {
  color: #bdb76b;
}
a:hover {
  color: #00ff00;
}
a:active {
  color: #ff0000;
}

/*CSS changes for desktop version (width greater than 800 pixels)*/

@media all and (min-width: 800px) {
  header {
    flex-direction: row;
    padding-bottom: 20px;
  }

  .logo-container {
    padding-left: 40px;
    flex-flow: row wrap;
    max-height: 300px;
    max-width: 300px;
    align-content: center;
    justify-content: center;
  }

  .logo-container .item {
    padding: 5px;
    margin: 5px;
    max-height: 75px;
  }

  #profile-img {
    max-width: 200px;
  }

  #myself {
    padding-left: 150px;
    align-self: center;
  }

  img {
    width: 20%;
  }

  /*Styling the navigation section*/
  nav ul {
    flex-flow: column wrap;
    align-content: center;
  }

  /*Intro and About CSS*/

  main .item {
    align-self: center;
    max-width: 600px;
  }

  main .item p {
    font-size: 25px;
  }
  /* Footer styling*/
  footer p {
    font-size: 40px;
  }
  address {
    flex-direction: row;
  }

  #contact-form {
    font-size: 20px;
    width: 100%;
    background-color: black;
  }
}
